body{
    background-image: url(../../static/images/league.jpeg);
    background-position: center;
    background-attachment: fixed;
    background-repeat:no-repeat;
}

.navbar-web{
    background-image: url(../../static/images/league.jpeg);
    background-position: center;
    background-attachment: fixed;
    background-repeat:no-repeat;
}
